
*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

@keyframes fade {
    0% {
        opacity: 0;
        /* transform: translate(50%); */
    }
    30% {
        opacity: 1;
        /* transform: translate(0); */
    }
}

div {
    animation: fade linear;
    animation-timeline: view();
}

header h1, header h2 {
    font-family: "Madimi One", sans-serif;
    font-weight: 700;
    font-style: bold;
    margin: 0;
    padding: 0.7rem 1rem;
}

body {
    background-color: #bae8fbff;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-size: 21px;
}

div.top-cloud {
    margin-bottom: -1rem;
}

.section2 {
    background-color: white;
    min-height: 30rem;
}

.main-h2 {
    padding: 0 2rem 0;
    background-color: white;
    padding-bottom: 1rem;
    display: flex;
}


.bottom-cloud {
    margin-top: -1rem;
}

/* ============== Nav =========== */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 2rem;
}

nav ul {
    display: flex;
    list-style: none;    
}

nav li {
    padding: 0 1rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
}

/* ============================= */

/* =========== Section 1 ============== */

div.section1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-text {
    margin-top: -3rem;
    min-width: 30rem;
}

.header-img img{
    width: 40vW;
}

@media screen and (max-width: 768px) {
    header {
        text-align: center;
        padding-top: 4rem;
    }
    .section1 {
        flex-direction: column;
    }
    .header-img img {
        width: 100vw;
    }
    
}

@media screen and (max-width: 320px) {
    
}

/* =============================== */

/* =========== Section 2 =========== */
.top-cloud {
    /* background-color: red; */
    margin-top: -18vw;
    position: absolute;
    z-index: -1;
}

.section2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    /* background-color: red; */
    border-radius: 0.7rem;
    width: 220px;
    margin: 0 2rem 2rem;
    height: fit-content;
}

.card .img {
    /* background-color: blue; */
    border-radius: 0.7rem;
    min-width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.card .text {
    padding: 0 0.7rem 0;
}
.card h2, .card h3 {
    margin: 0.3rem;
    font-size: 23px;
}

.card .text button {
    margin:0 auto 1rem;
    width: 100%;
    background-color: transparent;
    padding: 0.4rem 0;
    border: 1px solid red;
    border-radius: 10px;
}


.card h3 {
    /* background-color: blue; */
    color: rgba(0,0,0,0.2) ;
    font-size: 18px;
}
.card h3 span.ada-discount {
    /* background-color: blue; */
    color: rgba(0,0,0,1);
    font-size: 21px;
}

@media screen and (max-width: 768px) {
    .card {
    margin: 0 0.7rem 0;
    }
}

/* =============================== */
